@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

.myBtn {
  @apply  bg-zinc-900/40 border border-white/10 backdrop-blur-md transition-all duration-300 ease-out hover:bg-zinc-800 hover:border-purple-500/50 hover:shadow-[0_0_20px_rgba(168,85,247,0.4)]
}